################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Algorithm/bin/Debug/net8.0
/Algorithm/obj
/Algorithm/.vs/Algorithm/FileContentIndex
/startsample
/Algorithm/.vs/Algorithm/DesignTimeBuild/.dtbcache.v2
/Algorithm/.vs/Algorithm/v17/.suo
/Algorithm/.vs/Algorithm/v17/DocumentLayout.json
/Algorithm/.vs
/Algorithm/Debug
/Algorithm/bin

